@{
    Layout = "_ResturantHomeLayout";
}

<h1>Index</h1>
@model List<Category>
<br />
@if (User.IsInRole("Admin"))
{

<a asp-action="New" asp-controller="Category">Add Cateogory</a>
}
<table class="table able-bordered table-hover">
    <thead>

        <th>Category Name</th>
        <th>Category Description</th>
        <th>View Details</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Edit Category</th>
            <th>Delete Category</th>
        }

    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><a href="/Category/Details/@item.Id">Show Details</a></td>
            @if (User.IsInRole("Admin"))
            {

            <td><a href="/Category/Edit/@item.Id">Edit</a></td>
            <td><a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">Delete</a></td>
            }
        </tr>
    }

</table>
<div>
    <a asp-action="GetAll" asp-controller="Product">Show Products</a>
</div>
<div>
    <a asp-action="GetAll" asp-controller="Ingredient">Show Ingredients</a>

</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
