<h1>Products</h1>
@model List<Product>
<br />
@if (User.IsInRole("Admin")){
    <a asp-action="New" asp-controller="Product">Add Product</a>

}

<table class="table able-bordered table-hover">
    <thead>

    <th>Product Name</th>
    <th>Product Details</th>
    @if(User.IsInRole("Admin")){
        <th>Edit Product</th>
        <th>Delete Product</th>
    }
    



    </thead>

    @foreach (var item in Model)
    {
                <tr>
                    <td>@item.Name</td>
                    <td><a href="/Product/Details/@item.Id">Show Details</a></td>
            @if (User.IsInRole("Admin")){
                         <td><a href="/Product/Edit/@item.Id">Edit Product</a></td>
                            <td><a href="/Product/Delete/@item.Id">Delete Item</a></td>
                        }
                   
                </tr>
    }

</table>
<a asp-action="Getall" asp-controller="Category">Back To Categories</a>




